<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node.js - About page</title>
	</head>
	<style>
		body {
			background-color: black;
		}

		.container {
			display: flex;
            flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			width: 100vw;
		}

		h1 {
			color: white;
			font-size: 40px;
			font-weight: 600;
		}

		h4 {
			width: 700px;
			color: white;
			font-size: 16px;
            text-align: center;
		}
	</style>
	<body>
		<div class="container">
			<h1>About page</h1>
			<h4>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
				officia, ut alias, totam, ducimus eum velit sed distinctio
				asperiores maiores cupiditate doloremque veniam est. Quod,
				consequatur repellendus. Corporis, quasi amet.
			</h4>
		</div>
	</body>
</html>
